 html, body{
   overflow-x: hidden;
 }
 body {
   font-family: "Roboto", Helvetica, Arial, sans-serif;
   color:#333333;
 }
 h1, h2, h3, h4, h5, h6 {
   font-family: "Work-Sans", Helvetica, Arial, sans-serif;
 }
 h2 {
   font-size:28px;
   font-weight: normal;
   margin-bottom: 5px;
 }
 p {
   font-size:16px;
   line-height: 19px;
   font-weight: 100;
 }

/* GRID */
  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
  .container:before,
  .container:after {
    content: " ";
    display: table;
}
  .container: after {
    clear: both;
}
  .one-half, .one-third, .one-fourth {
    width: 96%:;
    float: left;
    position: relative;
    min-height: 1px;
    margin: 0 2% 20px;
}

 /* GRID */
 .container {
   margin-right: auto;
   margin-left: auto;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
 }
 .container:before,
 .container:after {
   content: " ";
   display: table;
 }
 .container:after {
   clear: both;
 }
 .one-half, .one-third, .one-fourth {
   width:96%;
   float:left;
   position:relative;
   min-height: 1px;
   margin:0 2% 20px;
 }
 .one-half {
  text-align: center;
 }
 

 
  /* HEADER */
 header {
   color:#FFFFFF;
   background: url('../images/dashboard.png') top left no-repeat;
   background-size:cover;
   width: 100%;
   height:100vh;
}
 header nav {
   padding:1em 0;
 }
 header nav ul {
   display:inline;
   text-align: right;
   float:none;
   margin:0;
 }
 header nav ul > li {
   list-style-type: none;
   display: inline-block;
   margin:0 15px;
 }
 header nav ul > li.btn-outline {
   padding:10px 15px;
   border:2px solid #000;
   border-radius: 4px;
 }
 header nav ul > li.btn-outline:hover {
   background:#000;
 }
 header nav ul > li > a {
   color:#000;
   text-decoration: none;
 }
 header nav ul > li.btn-outline:hover > a {
   color:#fff;

 }
  header .hero {
   text-align: center;
   display:block;
   position: relative;
   width: 90%;
   margin:0 auto;
 }
 header .hero h1 {
   font-size:36px;
   font-weight: normal;
   margin:5px 0 0;
   color: #B56736;
 }
 header .hero p {
   font-size: 22px;
   line-height: 26px;
   font-weight: 100;
   margin:10px 0 40px;
 }
 header .hero img {
   display: block;
   margin:3em auto 0;
 }
 /* BUTTONS */
 .btn {
   border-radius: 4px;
   color:#FFFFFF;
   font-weight: 700;
   text-decoration: none;
   padding:10px 30px;
   background: #B56736;
 }

  /* BENEFITS */
 .notes, .images, .links {
   text-align: center;
   display:block;
   position:relative;
 }
 .notes {
  background: url('../images/Section1_Background.png') top center no-repeat;
  background-size: cover;
  width: 100%;
  height:600px;
 }
 .images {
  background: url('../images/Section 2 - Background.png') top center no-repeat;
  background-size: cover;
  width: 100%;
  height:600px;
 }
 .images .left {
  float:left;
  width: 50%;
 }
 .images .right {
  float:right;
  width:50%;
 }
 .images .right img {
  position: relative;
  top:50px;
 }
 .links {
  background: url('../images/Section 3 - Background.png') top center no-repeat;
  background-size: cover;
  width: 100%;
  height:600px;
 }
 .benefits ul {
   margin: 0 auto;
   padding:4em 0;
 }
 .benefits ul li {
   list-style-type: none;
   display: inline-block;
 }
 .benefits i {
   color:#3498DB;
   font-size:60px;
   margin:0;
   vertical-align: middle;
 }
 .benefits h2 {
   color:#3498DB;
 }
  /* TESTIMONIALS */
 .testimonials {
   background: url('../images/Content_4.png') top center no-repeat;
   background-size: cover;
   width: 120%;
   height:700px;
   padding:4em 0;
   text-align: center;
 }
 .testimonials h2 {
   color:#B56736;
 }
 .testimonials ul li {
   list-style-type: none;
   width:40%;
   margin: 0 auto;
   background: rgba(216,216,216, 0.51);
   border-radius: 3px;
   padding: 5px;
 }
 .testimonials blockquote {
   color:#000000;
   text-align: center;
   position: relative;
   padding:30px;
   width:auto;
   margin:0;
 }
  .testimonials img {
   height: 65px;
   width: 65px;
   border-radius:50%;
   float: left;
   display: inline-block;
   margin:20px 10px 0 0;
 }
 .testimonials p.name {
   float: left;
   display: inline-block;
   text-align: left;
   font-size:13px;
   margin-top: 30px;
 }

 /* FOOTER */
 footer {
  background-color: #ffffff;
   background-image: linear-gradient(to top,
      #ffffff 0%, #ffffff 50%, #ffffff 50%, #ffffff 100%);
   color: #000000;
   height: 150px;
   position: relative;
   overflow: hidden;
   z-index: 0;
 }
 footer p, footer nav ul {
   font-size:14px;
   font-weight:100;
   text-align: center;
   margin: 10px auto 0;
 }
 footer nav ul li {
   list-style-type: none;
   display: inline;
 }
 footer nav ul li a {
   color:#000000;
   text-decoration: none;
 }
 footer .right-footer-block {
   background-color: transparent;
 }
 footer .logo{
   padding: 2.35em 0;
   margin: 0 auto;
   display: block;
 }

 @media (min-width: 992px){
   footer{
     background-color: #ffffff;
     background-image: linear-gradient(to left,
        #ffffff 0%, #ffffff 33.33337%, #ffffff 33.33337%, #ffffff 100%);
     height: 100px;
   }
   footer p, footer nav ul{
     padding: 2em 0;
     text-align: left;
   }
   footer .right-footer-block {
     background-color: #ffffff;
   }
   footer .logo{
     padding: 2em 0 2em 1.5em;
   }
 }

 @media screen and (min-width: 768px) {
   .container {
     width: 750px;
   }
   .one-half {
    text-align:left;
    width: 46%;
   }
   header nav ul {
    float:right;
   }
   header .hero {
     width: 60%;
     text-align: left;
     margin: 0;
   }
   header .hero h1 {
     font-size:48px;
     font-weight: normal;
     margin:95px 0 0;
     color: #B56736;
   }
 }
 
 @media screen and (min-width: 992px) {
   .container {
     width: 970px;
   }
   .one-half {
     width:46%;
   }
   .one-third {
     width:29.33333%;
   }
   .one-fourth {
     width:21%;
   }
 }
 @media screen and (min-width: 1200px) {
   .container {
     width: 1170px;
   }
 }
 @media screen and (min-width: 1824px) {
   .container {
      width: 1824px;
   }
 } 
/* NAVIGATION */
 .center-nav {
  background:#696969;
  width: 100%;
  display: block;
  height: 90px;
  color: #FFFFFF;
 }
 .center-nav .site-logo {
  background-image: linear-gradient(-180deg, #B2B2B2 0%, #7A7A7A 100%);
  padding: 26px;
  display:inline-block;
 }
 .center-nav .items {
  display: inline-block;
  width: auto;
  text-align: center;
  padding:0 6%;
  color: #FFFFFF;
 }
 .center-nav .items ul {
  padding: 0;
  display: inline-block;
  list-style-type: none;
  margin:0 0 40px;
  padding:0;
  color: #FFFFFF;

 }
 .center-nav .items ul li {
  display: inline-block;
   list-style-type: none;
   margin-bottom: 15px;
   color: #FFFFFF;
 }
 .center-nav .items ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  margin:0 5px;
 }
 .center-nav .items ul li a.active {
  background:#000;
  border-right: 3px;
  color:orange;
 }

 .center-nav .settings {
  float: right;
  padding: 25px 15px 15px;
  height: 60px;
  vertical-align: middle;
 }
 .center-nav .settings img, .center-nav .settings p, .center-nav .settings a {
  display:inline-block;
 }
 .center-nav .settings p {
  margin:0 8px;
  position: relative;
  top: -15px;
 }
 .center-nav .settings a {
  position: relative;
  top: -15px;
 }

 /* CONTENT */
 .content {
   padding:6em 1% 1.5em;
   float:right;
   width:98%;
   position: relative;
 }
 .content .header {
   margin:0 1% 20px;
 }
 .content .header h1 {
   font-family: "Work-Sans", Helvetica, Arial, sans-serif;
   font-weight: 700;
   margin:0;
   font-size: 36px;
   color: #000;
   line-height: 44px;
   float: left;
   display:inline-block;
 }
 .content .header > a {
   float:right;
 }
 .content-item {
   width:100%;
   display:inline-block;
 }
 .item-box {
   background: #FFFFFF;
   box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.40);
   position: relative;
   overflow: hidden;
   padding:20px;
 }
 .item-box img {
  margin:-20px;
  width: 120%;
  height: auto;
 }
 .item-box img.favicon {
  width:16px;
  height: 16px;
  display: inline-block;
  margin: 0 8px 0 0;
  position: relative;
  top:5px;
 }
 .item-box h3 {
  display: inline-block;
 }

 /* Larger Mobile Devices */
 @media (min-width:460px) {
   .content {
     padding:1.5em 1%;
     float:right;
     width:90%;
     position: relative;
   }
   .content-item {
     width:100%;
     margin:20px 2% 5px;
   }
 }
/* Tablets */
 @media (min-width:768px) {
   .content {
     padding:1.5em 5%;
     float:right;
     width:90%;
     position: relative;
   }
   .content > .container {
     width:700px;
   }
   .content-item {
     width:100%;
   }
   .masonry {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 4;
    margin: 1.5em 0;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
   }
 }
/* Laptops and Desktops */
 @media (min-width:992px) {
   .content {
     padding:1.5em 1%;
     float:right;
     width:98%;
     position: relative;
   }
   .content > .container {
     width:auto;
   }
   .content-item {
     width:100%;
   }
   .masonry {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
    margin: 1.5em 0;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
   }
 }
